<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://10.7.0.51:33062/db_matheus_leonel?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">matheus_leonel</property>
    <property name="hibernate.connection.password">matheus_leonel</property>
    <mapping class="bean.MclVendasProdutos"/>
    <mapping class="bean.MclVendedor"/>
    <mapping class="bean.MclClientes"/>
    <mapping class="bean.MclProdutos"/>
    <mapping class="bean.MclVendas"/>
    <mapping class="bean.MclUsuarios"/>
  </session-factory>
</hibernate-configuration>
